.images-gallery {
  --inputColor: rgb(96, 96, 96);
  --outlineColor: dodgerblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  .images-gallery-column {
    position: relative;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    text-align: center;
    border: 2px solid transparent;
    background: transparent;
    border: 0.2vw dashed rgb(143, 143, 143);
    .button-delete {
      position: absolute;
      top: 5px;
      right: 5px;
      color: white;
      padding: 5px;
      cursor: pointer;
      font-weight: bold;
      border-radius: 50%;
      background-color: #555;
      border: 3px solid #fff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5),
        inset 0 2px 4px rgba(0, 0, 0, 0.3);
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }

    .button-delete:hover {
      background: #a90000;
    }

    .button-delete:active {
      background: #a90000;
    }
    img {
      width: 200px;
      height: 200px;
    }
    p {
      font-size: 1rem;
    }
  }
}
