.uploader-container {
  .uploader {
    height: 7vw;
    border: 0.2vw dashed rgb(143, 143, 143);
    background-color: rgb(39, 39, 39);
    position: relative;

    input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
    }

    p {
      color: white;
      top: 25%;
      position: absolute;
      font-size: 1vw;
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }
}
