.dish-filter-container {
  .filter-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-result {
    margin: 50px 50px 50px 50px;
  }
  .filter-menu {
    .filter-container-with-columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 5rem;
      margin: 50px 50px 50px 50px;
      .filter-container-column {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .filter-column.button {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: span 2;
        .button {
          margin: calc(var(--spacer) * 2) 0 0 2px;
        }
      }

      .filter-ingredients {
        margin-top: 2rem;
        grid-column: span 2;
      }
    }
  }
}
